<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Vulnerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WindowsBase" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.105.0" newVersion="1.0.105.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Interactive.Async" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1000.0" newVersion="3.0.1000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Remotion.Linq" publicKeyToken="fee00910d6e5f53b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.5.0" newVersion="2.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SQLite" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <userSettings>
    <Vulnerator.Properties.Settings>
      <setting name="VersionMetaData" serializeAs="String">
        <value>alpha1</value>
      </setting>
      <setting name="Theme" serializeAs="String">
        <value>BaseLight</value>
      </setting>
      <setting name="Accent" serializeAs="String">
        <value>Cobalt</value>
      </setting>
      <setting name="Environment" serializeAs="String">
        <value>Undefined</value>
      </setting>
      <setting name="Database" serializeAs="String">
        <value>Undefined</value>
      </setting>
      <setting name="LogPath" serializeAs="String">
        <value>Undefined</value>
      </setting>
      <setting name="Name" serializeAs="String">
        <value />
      </setting>
      <setting name="Phone" serializeAs="String">
        <value />
      </setting>
      <setting name="Email" serializeAs="String">
        <value />
      </setting>
      <setting name="Organization" serializeAs="String">
        <value />
      </setting>
      <setting name="StigLibraryIngestDate" serializeAs="String">
        <value>N/A</value>
      </setting>
      <setting name="CklRequiresHostName" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CklRequiresIpAddress" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CklrequiresMacAddress" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DropIncompleteCklfiles" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CaptureAcasPortInformation" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CaptureAcasReferenceInformation" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CaptureAcasEnumeratedSoftware" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ReportPoamRar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ReportPdfExecutiveSummary" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ReportExcelSummary" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ReportOsBreakdown" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ReportUserBreakdown" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ReportTestPlan" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ReportFindingTypeOverview" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IncludeAcasInReports" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IncludeCklInReports" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IncludeScapInReports" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IncludeFortifyInReports" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IncludeWasspInReports" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IncludeAnsibleInReports" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GroupPoamRar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UtilizeCklCommentsForMitigation" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UtilizeCklFindingDetailsForMitigation" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OverwriteCklDataWithMitigation" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IncludeCatOneInReports" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IncludeCatTwoInReports" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IncludeCatThreeInReports" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IncludeCatFourInReports" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RegexCciDetection" serializeAs="String">
        <value>CCI-\d*</value>
      </setting>
      <setting name="ReportScapStigDiscrepancies" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ReportVulnerabilityDeepDive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ActiveUser" serializeAs="String">
        <value />
      </setting>
      <setting name="GroupPoamVulns" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GroupRarVulns" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseCklComments" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseCklFindingDetails" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CklMitigationHandling" serializeAs="String">
        <value>Append</value>
      </setting>
    </Vulnerator.Properties.Settings>
  </userSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
</configuration>