<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CsvHelper" version="3.0.0-beta7" targetFramework="net452" />
  <package id="DocumentFormat.OpenXml" version="2.5" targetFramework="net40" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net452" />
  <package id="log4net" version="2.0.5" targetFramework="net452" />
  <package id="MahApps.Metro" version="1.4.0-ALPHA023" targetFramework="net452" />
  <package id="MahApps.Metro.IconPacks" version="1.4.0" targetFramework="net452" />
  <package id="MahApps.Metro.Resources" version="0.6.1.0" targetFramework="net40" />
  <package id="Microsoft.Exchange.WebServices" version="2.2" targetFramework="net40" />
  <package id="Octokit" version="0.23.0" targetFramework="net452" />
  <package id="PDFsharp" version="1.50.4000-beta3b" targetFramework="net40" />
  <package id="PDFsharp-MigraDoc-wpf" version="1.50.4000-beta3b" targetFramework="net40" />
  <package id="System.Data.SQLite" version="1.0.103" targetFramework="net452" />
  <package id="System.Data.SQLite.Core" version="1.0.103" targetFramework="net452" />
  <package id="System.Data.SQLite.EF6" version="1.0.103" targetFramework="net452" />
  <package id="System.Data.SQLite.Linq" version="1.0.103" targetFramework="net452" />
</packages>