<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ColorCode.Portable" version="1.0.3" targetFramework="net452" />
  <package id="CommonServiceLocator" version="2.0.4" targetFramework="net452" />
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net452" />
  <package id="CsvHelper" version="12.1.2" targetFramework="net452" />
  <package id="DocumentFormat.OpenXml" version="2.9.1" targetFramework="net452" />
  <package id="Enterwell.Clients.Wpf.Notifications" version="1.4.2" targetFramework="net452" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net452" />
  <package id="GridExtra" version="0.4.0" targetFramework="net452" />
  <package id="HtmlToXamlConverter" version="1.0.5727.24510" targetFramework="net452" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net452" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net452" />
  <package id="log4net" version="2.0.8" targetFramework="net452" />
  <package id="MahApps.Metro" version="1.6.5" targetFramework="net452" />
  <package id="Markdig" version="0.16.0" targetFramework="net452" />
  <package id="Markdig.SemanticUi" version="0.1.0" targetFramework="net452" />
  <package id="Markdig.SyntaxHighlighting" version="1.1.7" targetFramework="net452" />
  <package id="Markdig.Wpf" version="0.2.8" targetFramework="net452" />
  <package id="Microsoft.Exchange.WebServices" version="2.2" targetFramework="net40" />
  <package id="MvvmLight" version="5.4.1.1" targetFramework="net452" />
  <package id="MvvmLightLibs" version="5.4.1.1" targetFramework="net452" />
  <package id="Octokit" version="0.32.0" targetFramework="net452" />
  <package id="PDFsharp" version="1.50.5147" targetFramework="net452" />
  <package id="PDFsharp-MigraDoc-wpf" version="1.50.5147" targetFramework="net452" />
  <package id="SQLite" version="3.13.0" targetFramework="net452" />
  <package id="System.Collections" version="4.3.0" targetFramework="net452" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net452" />
  <package id="System.ComponentModel" version="4.3.0" targetFramework="net452" />
  <package id="System.Data.SQLite" version="1.0.111.0" targetFramework="net452" />
  <package id="System.Data.SQLite.Core" version="1.0.111.0" targetFramework="net452" />
  <package id="System.Data.SQLite.EF6" version="1.0.111.0" targetFramework="net452" />
  <package id="System.Data.SQLite.Linq" version="1.0.111.0" targetFramework="net452" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net452" />
  <package id="System.Diagnostics.Tools" version="4.3.0" targetFramework="net452" />
  <package id="System.Diagnostics.Tracing" version="4.3.0" targetFramework="net452" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net452" />
  <package id="System.Interactive.Async" version="3.2.0" targetFramework="net452" />
  <package id="System.IO" version="4.3.0" targetFramework="net452" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net452" />
  <package id="System.Linq" version="4.3.0" targetFramework="net452" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net452" />
  <package id="System.Linq.Queryable" version="4.3.0" targetFramework="net452" />
  <package id="System.Net.Primitives" version="4.3.1" targetFramework="net452" />
  <package id="System.ObjectModel" version="4.3.0" targetFramework="net452" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net452" />
  <package id="System.Reflection.Extensions" version="4.3.0" targetFramework="net452" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="net452" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="net452" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net452" />
  <package id="System.Runtime.Extensions" version="4.3.1" targetFramework="net452" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net452" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net452" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net452" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="net452" />
  <package id="System.Text.Encoding.Extensions" version="4.3.0" targetFramework="net452" />
  <package id="System.Text.RegularExpressions" version="4.3.1" targetFramework="net452" />
  <package id="System.Threading" version="4.3.0" targetFramework="net452" />
  <package id="System.Threading.Tasks" version="4.3.0" targetFramework="net452" />
  <package id="System.Threading.Timer" version="4.3.0" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net452" />
  <package id="System.Xml.XDocument" version="4.3.0" targetFramework="net452" />
  <package id="WindowsAPICodePack" version="1.1.0" targetFramework="net452" />
  <package id="WPFToolkit" version="3.5.50211.1" targetFramework="net452" />
</packages>